###> FireWeb ###
config.php
/inc/editor/*
/uploads/avatar/

###> FireWeb Personalization ###
!/module/core/
!/module/default/
/module/*

###
!/images/icons/
!/images/favicon/
/images/

!/addon/@meta/
!/addon/@joomla1_5/
!/addon/@offline/
!/addon/@user_pictures
!/addon/@kayalshri-tableExport/
/addon/*

documentation.html