	/*
	Style 
	Name: Blackburn Mobile
	Version: 0.6.9
	FW-Version: 0.6.9III
	API: 7
	*/
	html {
	height:100%;
	margin:0 !important;
		padding:0 !important;
	}
	/*Allegemeines*/
	body {
		height:100%;
		width:100%;
		background-color:#FFFFFF;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family:Helvetica;
		color:#1C1C1C;
		margin:0;
		margin:0 !important;
		padding:0 !important;
	}
	a{
	text-decoration:none;
	}
	/*Element*/
	
	.header 
		{
		padding-top:16px;
		height:78px;
		}
	
	
	.top {
		text-align:center;
		margin-bottom:0px;
		}
	
	.menu{
		height:78px;
		width:100%;
		background-color:#0F2104;
		}
	
	#menu_fixed {
		top:0px;
		height:78px;
		display:none;
		text-align:center;
		background-color:#0F2104;
		width: 100%;
		position:fixed;
		z-index: 100;
		}
		
	#meinFader {
		text-align:center;
		position: relative; 
		}
	
	.diy-slideshow{
	  position: relative;
	  display: none;
	  overflow: hidden;
	  
	}
	figure{
	  margin-top: 0px;
	  margin-bottom: 0px;
	  position: absolute;
	  opacity: 0;
	  transition: 1s opacity;
	}
	figcaption.show{
	  
	  position: absolute;
	  font-family: sans-serif;
	  font-size: .8em;
	  bottom: 0px;
	  right: .35em;
	  padding: .25em;
	  color: #fff;
	  background: rgba(0,0,0, .25);
	  border-radius: 2px;
	}
	figure.show{
	  opacity: 1;
	  position: static;
	  transition: 1s opacity;
	}
	.next, .prev{
	  color: #fff;
	  position: absolute;
	  background: rgba(0,0,0, .6);
	  top: 40%;
	  z-index: 1;
	  font-size: 2em;
	  opacity: .5;
	  border-radius: 2px;
	}
	.next:hover, .prev:hover{
	  cursor: pointer;
	  opacity: 1;
	}
	.next{
	  right: 0;
	  padding: 10px 5px 15px 10px;
	}
	.prev{
	  left: 0;
	  padding: 10px 10px 15px 5px;
	}
	
	.top_content {
	background-color: rgba(66, 66, 66, 0.2);
		}
	
	.middle {
		min-height:76%;
		background-color:#E6E6E6;
		}
		
	.container
		{
		padding-top: 8px;
		margin:0 auto;
		width:auto;
		min-height:70%;
		padding-bottom:30px;		
		}
		
	.container_left{
		float: left;
		display:none;
		}
	.content_left
		{
		width:180px;
		background-color:#FAFAFA;
		opacity: 0.95;
		margin-top:0px;
		margin-bottom:16px;
		padding-top:1px;
		padding-left:2px;
		padding-bottom:4px;
		}
	.container_right{
		float: right;
		display:none;
		}	
	.content_right
		{
		width:170px;
		background-color:#FAFAFA;
		opacity: 0.95;
		margin-top:0px;
		margin-bottom:16px;
		padding-top:1px;
		padding-left:2px;
		padding-bottom:4px;
		}	
		 
	.content
	{
		background-color:#FAFAFA;
		margin-top:24px;
		margin-left:12px;
		margin-right:12px; 
		margin-bottom:12px;
		padding-top:8px;
		padding-left:16px;
		padding-right:16px;
		padding-bottom:12px;
		overflow:auto;
	}

		
	.footer {
		color:white;
		padding-bottom: 20px;
		background:#091703;
		padding-top:8px;
		padding-right:8px;
		padding-bottom:8px;
	}
	
	.credits {
		text-align:center;
		padding-left:5px;
		padding-right:5px;
		background:#BDBDBD;
		opacity: 0.8;
	}	


		
/*Eigene Classen*/		

a.link_accent:link {
			color:#ff4500;
		}
		a.link_accent:visited {
			color:#ff4500;
		}
		a.link_accentactive {
			color:#F8F8ff;
		}
		a.link_accent:hover {
			color:#800000;
		}
	
	
		a.link:link {
			color:#424242;

		}
		a.link:visited {
			color:#424242;
		}
		a.link:active {
			color:#F8F8ff;
		}
		a.link:hover {
			color:#800000;
		}
		a.button {
			text-align:center;
			background-color:#FFFFFF;
			display:inline-block;
			color:#000000;
			height:8%;
			line-height:200%;
			width:100%;
			text-decoration:none;
			text-shadow:none;
			}
		a.button:hover {
			background-color:#424242;
			}
			
		a.button_theme {
			margin-left:-3px;
			margin-right:-3px;
			background-color:#0F2104;
			text-align:center;
			display:inline-block;
			color:#DCDCDC;
			line-height:400%;
			width:100%;
			text-decoration:none;
			text-shadow:none;
			}

		a.button_theme:hover {
			background-color:#071102;
			color:#FFFFFF;
			}
		
		a.button_theme:focus{
			background-color:#071102;
			color:#FFFFFF;
		}
		
		a.button_theme:active{
		}
		
/*old*/
		a.linkfarbe1:link {
			color:#ff4500;
		}
		a.linkfarbe1:visited {
			color:#ff4500;
		}
		a.linkfarbe1:active {
			color:#F8F8ff;
		}
		a.linkfarbe1:hover {
			color:#800000;
		}
	
	
		a.linkfarbe2:link {
			color:#424242;

		}
		a.linkfarbe2:visited {
			color:#424242;
		}
		a.linkfarbe2:active {
			color:#F8F8ff;
		}
		a.linkfarbe2:hover {
			color:#800000;
		}
			
		a.block1 {
			margin-left:-3px;
			margin-right:-3px;
			background-color:#0F2104;
			text-align:center;
			display:inline-block;
			color:#DCDCDC;
			line-height:400%;
			width:100%;
			text-decoration:none;
			text-shadow:none;
			}

		a.block1:hover {
			background-color:#071102;
			color:#FFFFFF;
			}
		a.block1:focus{
			background-color:#071102;
			color:#FFFFFF;
		}
		
		a.block1:active{
		}
		
			
		a.block2 {
			text-align:center;
			background-color:#FFFFFF;
			display:inline-block;
			color:#000000;
			height:8%;
			line-height:200%;
			width:100%;
			text-decoration:none;
			text-shadow:none;
			}
		a.block2:hover {
			background-color:#424242;
			}
		#tooltip 
		{
		}
		#tooltip a span { 
		display: none;	
		}
		#tooltip a:hover span { 
		position: absolute;
		display:inline-block;
		background-color:#BDBDBD;
		border-color:#BDBDBD;
		margin-top:32px;
		margin-left:-30px;
		border-style: solid;
		border-width: 3px;
		border-radius: 3px;
		color:#000000;
		}	
		
		#tooltip_2 
		{
		width:100%;
		}
		#tooltip_2  a span { 
		display: none;	
		}
		#tooltip_2  a:hover span { 
		width:102%;
		/*display:block;*/
		position: absolute;
		margin-left:-3px;
		margin-right:-3px;
		background-color:#1F1F1F;
		text-align:center;
		display:inline-block;
		color:#DCDCDC;
		top: 40px;
		left: 0px;
		}		
		
		.nodisplay{
		display:none;
			}
		#safe{
		display:none;
			}
/*Profil*/
		.profil_list
		{
		width:100%;
		border-width:1px;
		border-style:solid;
		border-color:#E6E6E6;
		float: left;
		margin-bottom:18px;
		}
		.profil_list_table
		{
		width:100%;
		}
		.profil_list_entry
		{
		width:1000px;
		height:40px;
		text-align:center;
		background-color:#FFFFFF;
		}
		.profil
		{
		padding-right:40px;
		margin-right:10px;
		}
		.bereiche
		{
			display:none;
		}
		.info
		{
			float:left;
		}
		.anderes
		{
			float:left;
		}