	/*
	Style 
	Name: FireWeb Style Basic
	Version: alpha
	FW-Version: 0.7a
	API: 7
	*/

	html {
		height:100%;
		margin:0 !important;
		padding:0 !important;	
	}
	
	body {
		height:100%;
		width:100%;
		margin:0 !important;
		padding:0 !important;
	}
	
	a{
	text-decoration:none;
	}
	/*Element*/
	
	.header 
		{
		padding-top:16px;
		height:78px;
		}
	
	
	.top {
		text-align:center;
		margin-bottom:0px;
		}
	
	.menu{
		height:78px;
		width:100%;
		background:#000000;
		}
	
	#menu_fixed {
		height:78px;
		text-align:center;
		background:#000000;
		width: 100%;
		position:fixed;
		display:none;
		overflow:hidden;
		z-index: 100;
		}	
		
	.content_top {

		}
	
	.middle {
		min-height:90%;
		background-color: #E6E6E6;
		}
				
	.background{
	}
		
	.container
	{
	}
	.container_left{
		float: left;
		}
	.content_left
		{
		width:170px;
		margin-top:30px;
		margin-left:30px;
		margin-bottom:10px;
		padding-top:1px;
		padding-left:3px;
		padding-right:3px;
		padding-bottom:4px;
		}
	.container_right{
		float: right;
		}	
	.content_right
		{
		width:170px;
		margin-top:30px;
		margin-right:30px;
		margin-bottom:10px;
		padding-top:1px;
		padding-left:3px;
		padding-right:3px;
		padding-bottom:4px;
		}	
	.container_center{
		margin-left:200px;
		margin-right:200px;
		}	 
	.content, .content_center
	{
		margin-top:12px;
		margin-left:40px;
		margin-right:40px;
		margin-bottom:42px;
		padding-top:12px;
		padding-left:28px;
		padding-right:28px;
		padding-bottom:12px;
	}	 

		
	.credits {
		text-align:center;
		background:#A4A4A4;
		opacity: 0.8;
	}
		
	.footer {
		color:#D8D8D8;
		padding-bottom: 20px;
		background:#000000;
		padding-top:8px;
		padding-right:8px;
		padding-bottom:8px;
	}
		
		
/*Eigene Classen*/		

		a.link_accent:link {
			color:#A4A4A4;
		}
		a.link_accent:visited {
			color:#A4A4A4;
		}
		a.link_accent:active {
			color:#A4A4A4;
		}
		a.link_accent:hover {
			color:#585858;
		}
		a.link_accent:focus{
			color:#585858;
		}	
	
	
		a.link:link {
			color:#444444;
		}
		a.link:visited {
			color:#444444;
		}
		a.link:active {
			color:#000000;
		}
		a.link:hover {
			color:#000000;
		}
		a.link:focus{
			color:#000000;
		}
		
		a.button{
		text-align:center;
		background-color:#FDFDFD;
		display:inline-block;
		color:#000000;
		line-height:200%;
		width:100%;
		text-decoration:none;
		text-shadow:none;
		}
		a.button:hover {
			background-color:#424242;
			}
		a.button:focus{
			background-color:#424242;
		}	
			
		a.button_theme {
			margin-left:-3px;
			margin-right:-3px;
			background-color:#000000;
			text-align:center;
			display:inline-block;
			color:#DCDCDC;
			line-height:400%;
			text-decoration:none;
			text-shadow:none;
			}

		a.button_theme:hover {
			background-color:#585858;
			color:#FFFFFF;
			}
		a.button_theme:focus{
			background-color:#585858;
			color:#FFFFFF;
		}
		
		/*Alte Linkfarbe und Block
		linkfarbe1=link_accent
		linkfarbe2=link
		block1=button_theme
		block2=button
		*/
		
		#tooltip 
		{
		}
		#tooltip a span { 
		display: none;	
		}
		#tooltip a:hover span { 
		position: absolute;
		display:inline-block;
		background-color:#BDBDBD;
		border-color:#BEBEBE;
		margin-top:32px;
		margin-left:-30px;
		border-style: solid;
		border-width: 3px;
		border-radius: 3px;
		color:#000000;
		}	
		
		#tooltip_2 
		{
		width:100%;
		}
		#tooltip_2  a span { 
		display: none;	
		}
		#tooltip_2  a:hover span { 
		width:102%;
		/*display:block;*/
		position: absolute;
		margin-left:-3px;
		margin-right:-3px;
		background-color:#1F1F1F;
		text-align:center;
		display:inline-block;
		color:#DCDCDC;
		top: 40px;
		left: 0px;
		}		
		
		.nodisplay{
		display:none;
			}
		#safe{
		display:none;
			}
			
		/*Profil*/
		
		.profil_menu
		{
		height:340px;
		overflow-y: scroll;
		max-width:36%;
		width:230px;
		border-width:0px;
		border-style:dotted;
		border-color:grey;
		float: right;
		}
		.profil_menu_entry
		{
		
		width:220px;
		height:40px;
		text-align:center;
		background-color:#FFFFFF;
		}
