/*
Style 
Name: Praxis Responsive
Version: beta
FW-Version: 0.7.1
API: 7
Date: 12-02-18
*/

/*---------Praxis Responsive Style 0.7PR API 7----------*/
	
/*
General Settings
*/
@charset "utf-8";

@media only screen and (min-width: 0px) {
	@font-face {
		font-family: Lemonada;
		src: url(../../inc/fonts/Lemonada/Lemonada.ttf);
		font-stretch:normal;
		font-weight: 400;
		/*gut aber bug mit content*/
	}
	@font-face {
		font-family: Ubuntu;
		src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
		font-stretch:normal;
		font-weight: 400;
		/*gut aber bug mit content*/
	}
	@font-face {
		font-family: Lato;
		src: url(fonts/Lato/Lato-Regular.ttf);
		font-stretch:normal;
		font-weight: 400;
		/*gut aber bug mit content*/
	}
	html {
		height:100%;
		margin:0 !important;
		padding:0 !important;	
	}
	
	body {
		height:100%;
		width:100%;
		font-family: Lemonada, Helvetica;
		line-height: 1.3;
		color:#1C1C1C;
		margin:0 !important;
		padding:0 !important;
	}
	
	a{
	text-decoration:none;
	}
	p{
	font-family: Lato, Helvetica;
	}
}
/*
Mobile View
*/		
@media only screen and (max-width: 820px) {
	
	.mobile{
		display:inherit;
	}
	
	/*Allegemeines*/
	body {
		font-family: Lemonada,Indie_Flower, Helvetica;
		line-height: 1.3;
		background-color:#FAFAFA;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		/*background-image:url("background_kleeblatt.jpg");*/
	}
	/*Element*/
	
	.header {
		padding-top:16px;
		height:78px;
		}
	
	
	.top {
		text-align:center;
		margin-bottom:0px;
		}
	
	.menu{
		height:78px;
		width:100%;
		background:rgba(244,164,96,1);
		}
	
	#menu_fixed {
		top:0px;
		height:78px;
		text-align:center;
		background:rgba(244,164,96,1);
		width: 100%;
		position:fixed;
		display:none;
		z-index: 100;
		}

		
	.content_top {
		background-color:#FFFFFFF;
		background-color: rgba(255, 255, 255, 0.2);
		}
	/*old 0.6.8*/
	.top_content {
		background-color:#FFFFFFF;
		background-color: rgba(255, 255, 255, 0.2);
		}
	
	.middle {
		min-height:100%;
		background-color: rgba(230,230,230, 0.6);
		}
				
	.background{
	/*only for fixed background*/
	/*background-color: #E6E6E6;
	position:fixed;
	top: 94px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: -1;*/
	}
		
	.container
		{
		min-height:500px;	
		max-width:1480px;
		padding-top: 8px;
		margin:0 auto;
		width:auto;
		padding-bottom:30px;		
		}
	.container_left{
		float: left;
		display: none;
		}
	.content_left
		{
		width:170px;
		background-color:#FAFAFA;
		margin-top:18%;
		margin-left:30px;
		margin-bottom:10px;
		padding-top:1px;
		padding-left:3px;
		padding-right:3px;
		padding-bottom:4px;
		box-shadow: 1px 1px 2px #848484;
		}
	.container_right{
		float: right;
		display: none;
		}	
	.content_right
		{
		width:170px;
		background-color:#FAFAFA;
		margin-top:18%;
		margin-right:30px;
		margin-bottom:10px;
		padding-top:1px;
		padding-left:3px;
		padding-right:3px;
		padding-bottom:4px;
		box-shadow: 1px 1px 2px #848484;
		}	
	.container_center{
		margin-left:6px;
		margin-right:6px;
		}	 
	.content, .content_center
	{
		background-color:#FAFAFA;
		margin-top:12px;
		margin-left:6px;
		margin-right:6px;
		margin-bottom:24px;
		padding-top:6px;
		padding-left:12px;
		padding-right:12px;
		padding-bottom:6px;
		overflow:auto;
		box-shadow: 1px 1px 2px #848484;
	}

	.credits {
		text-align:center;
		padding-left:0;
		padding-right:0;
		height:24px;
		padding-bottom:2px;
		background:#A4A4A4;
		opacity: 0.8;
	}			
	.footer {
		display:none;
		color:#D8D8D8;
		padding-bottom: 20px;
		background:#000000;
		padding-top:8px;
		padding-right:8px;
		padding-bottom:8px;
	}
	

	a.material_button{
		display:inline-block;
		position:fixed;
		width:64px;
		height:64px;
		bottom:22px;
		right:22px;
		z-index:100;
		border-radius:50%;
		text-align: center;
		vertical-align: middle;
		line-height: 64px;  
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		background-color:rgba(238, 120, 17, 1);		
	}
	a.material_button:hover {
		bottom:26px;
		background-color:rgba(238, 120, 17, 1)	;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		cursor:pointer;
		}
	/*.profil_entry
		{
		max-idth:100%;
		width:100%;
		margin:0;
		display:inline-block
		}
	.profil_menu
		{
		height: initial;
		overflow-y: scroll;
		width: 100%;
		max-width: 100%;
		border-width: 0px;
		border-style: dotted;
		border-color: grey;
		}
	.profil_menu_entry
		{
		width:100%;
		height:40px;
		text-align:center;
		background-color:#FFFFFF;
		}*/
}

/*
Desktop View
*/	
@media only screen and (min-width: 820px) {
	
	.mobile{
		display:none;
	}
	
	html {
		min-width:820px;	
	}
	/*Allegemeines*/
	body {
		min-width:360px;
		background-color:#FAFAFA;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		/*background-image:url("background_kleeblatt.jpg");*/
	}
	
	/*Element*/
	
	.header {
		padding-top:16px;
		height:78px;
		}
	
	
	.top {
		text-align:center;
		margin-bottom:0px;
		}
	
	.menu{
		height:78px;
		width:100%;
		background:rgba(244,164,96, 1);
		border-radius:0px 0px 50px 50px;
		box-shadow: 1px 1px 2px #848484;
		}
	
	#menu_fixed {
		height:78px;
		text-align:center;
		background:rgba(244,164,96, 1);
		width: 100%;
		position:fixed;
		display:none;
		overflow:hidden;
		border-radius:0px 0px 50px 50px;
		box-shadow: 1px 1px 2px #848484;
		z-index: 100;
		}
	
	.content_top {
		background-color:#FFFFFFF;
		background-color: rgba(255, 255, 255, 0.2);
		}
	/*old 0.6.8*/
	.top_content {
		background-color:#FFFFFFF;
		background-color: rgba(255, 255, 255, 0.2);
		}
	
	.middle {
		min-height:100%;
		background-color: rgba(230,230,230, 0.6);
		}
				
	.background{
	/*only for fixed background*/
	/*background-color: #E6E6E6;
	position:fixed;
	top: 94px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: -1;*/
	}
		
	.container
		{
		min-height:500px;	
		max-width:1480px;
		padding-top: 8px;
		margin:0 auto;
		width:auto;
		padding-bottom:30px;		
		}
	.container_left{
		float: left;
		}
	.content_left
		{
		border-radius:24px 24px 0px 0px;
		width:170px;
		background-color:#FAFAFA;
		margin-top:18%;
		margin-left:30px;
		margin-bottom:10px;
		padding-top:1px;
		padding-left:3px;
		padding-right:3px;
		padding-bottom:4px;
		box-shadow: 1px 1px 2px #848484;
		}
	.container_right{
		float: right;
		}	
	.content_right
		{
		width:170px;
		background-color:#FAFAFA;
		margin-top:18%;
		margin-right:30px;
		margin-bottom:10px;
		padding-top:1px;
		padding-left:3px;
		padding-right:3px;
		padding-bottom:4px;
		box-shadow: 1px 1px 2px #848484;
		}	
	.container_center{
		margin-left:200px;
		margin-right:200px;
		}	 
	.content, .content_center
	{
		border-radius:25px;
		background-color:#FAFAFA;
		margin-top:12px;
		margin-left:40px;
		margin-right:40px;
		margin-bottom:42px;
		padding-top:12px;
		padding-left:28px;
		padding-right:28px;
		padding-bottom:12px;
		overflow:auto;
		box-shadow: 1px 1px 2px #848484;
	}	 

	.credits {
		border-radius:24px 24px 0px 0px;
		text-align:center;
		padding-left:15%;
		padding-right:15%;
		background:#A4A4A4;
		opacity: 0.8;
	}
		
	.footer {
		color:#D8D8D8;
		padding-bottom: 20px;
		background:#000000;
		padding-top:8px;
		padding-right:8px;
		padding-bottom:8px;
	}
	
	a.material_button{
			display:none;
		}	
}

/*
General Classes
*/		
@media only screen and (min-width: 0px) {
		a.link_accent:link {
			color:#A4A4A4;
		}
		a.link_accent:visited {
			color:#A4A4A4;
		}
		a.link_accent:active {
			color:#A4A4A4;
		}
		a.link_accent:hover {
			color:#585858;
		}
		a.link_accent:focus{
			color:#585858;
		}	
	
	
		a.link:link {
			color:#444444;
		}
		a.link:visited {
			color:#444444;
		}
		a.link:active {
			color:#000000;
		}
		a.link:hover {
			color:#000000;
		}
		a.link:focus{
			color:#000000;
		}
		
		a.button{
		text-align:center;
		background-color:#FDFDFD;
		display:inline-block;
		color:#000000;
		line-height:200%;
		width:100%;
		text-decoration:none;
		text-shadow:none;
		/*experimental box shadow replaced with outline*/
		outline-style:solid;
		outline-width:1px;
		outline-color:#848484;
		transition-duration: 0.3s;
		}
		a.button:hover {
			background-color:#666666;
			
			}
		a.button:focus{
			background-color:#666666;
		}	
			
		a.button_theme {
			text-align:center;
			background-color:rgba(244,164,96, 1);
			display:inline-block;
			color:#FAFAFA;
			line-height:200%;
			text-decoration:none;
			text-shadow:none;
			transition-duration: 0.3s;
			}

		a.button_theme:hover {
			background-color:#585858;
			color:#FFFFFF;
			}
		a.button_theme:focus{
			background-color:#585858;
			color:#FFFFFF;
		}
				
		/*Alte Linkfarbe und Block
		linkfarbe1=link_accent
		linkfarbe2=link
		block1=button_theme
		block2=button
		*/
		
		#tooltip 
		{
		}
		#tooltip a span { 
		display: none;	
		}
		#tooltip a:hover span { 
		position: absolute;
		display:inline-block;
		background-color:#BDBDBD;
		border-color:#BEBEBE;
		margin-top:32px;
		margin-left:-30px;
		border-style: solid;
		border-width: 3px;
		border-radius: 3px;
		color:#000000;
		}
		
		#tooltip_2 
		{
		width:100%;
		}
		#tooltip_2  a span { 
		display: none;	
		}
		#tooltip_2  a:hover span { 
		width:102%;
		/*display:block;*/
		position: absolute;
		margin-left:-3px;
		margin-right:-3px;
		background-color:#1F1F1F;
		text-align:center;
		display:inline-block;
		color:#DCDCDC;
		top: 40px;
		left: 0px;
		}		
		
		.nodisplay{
		display:none;
			}
		#safe{
		display:none;
			}
			
		/*Profil
		Edition: Profil New 0.7.2
		*/
		.profil_menu
		{
		height:340px;
		overflow-y: scroll;
		max-width:initial;
		width:100%;
		border-width:0px;
		border-style:dotted;
		border-color:grey;
		float: right;
		}
		.profil_entry
		{
		margin-right:initial;
		max-width:initial;
		display:initial;
		}
		.profil_menu_entry
		{
		font-size:1.2em;
		display:block;
		width:100%;
		height:40px;
		text-align:center;
		background-color:#FFFFFF;
		}
		.profil_user_entry
		{
		background-color:#F2F2F2;
		display:inline-block;
		color:#000000;
		line-height:200%;
		width:100%;
		text-decoration:none;
		text-shadow:none;
		outline-style:solid;
		outline-width:1px;
		outline-color:#D8D8D8;
		cursor:point;
		}
		
		#menu_drop
		{
		}
		#menu_drop div span { 
		display: none;	
		}
		#menu_drop div:hover span { 
		z-index:100;
		position: absolute;
		display:inline-block;
		background-color:rgba(189,189,189,0.99);
		border-color:#BEBEBE;
		margin-top:72px;
		left:0px;
		width:100%;
		border-style: solid;
		border-width: 3px;
		border-radius: 3px;
		color:#000000;
		}
		
		}